PROJECT_NAME="Check Phone Scam API"
API_V1_STR="/api/v1"
PORT=8000
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:3000"]

# Database
# POSTGRES_SERVER=localhost
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=
# POSTGRES_DB=
SQLALCHEMY_DATABASE_URI=postgresql://postgres:password@localhost:5432/check-phone-scam

# Hugging Face Inference API
HF_TOKEN=
HF_API_URL=

# Firebase
FIREBASE_CREDENTIALS_PATH=firebase-adminsdk.json
FIREBASE_CREDENTIALS_JSON=base64_encoded_json_here

# GEMINI
GEMINI_API_KEY=

# Testing
TEST_API_BASE_URL=http://localhost:8000/api/v1