PROJECT_NAME="Check Phone Scam API"
API_V1_STR="/api/v1"
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days


POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=

SQLALCHEMY_DATABASE_URI=
# Hugging Face Inference API
HF_TOKEN=
HF_API_URL=
